.background-image {
  background-image: url('https://plus.unsplash.com/premium_photo-1732736763955-a9d9c522cbf0?q=80&w=1075&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /* ✅ 關鍵：背景固定 */
  // filter: blur(10px);
  height: auto;
  overflow-y: scroll;
  width: auto;

}

.all {
  backdrop-filter: blur(10px) brightness(85%);
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}

.head {
  text-align: center;
  display: grid;
  justify-content: center;
}

.tietle {
  width: auto;
}

.describe {
  width: 400px;

  color: #ffffff;
}

form {
  color: #ffffff;
}

.mdc-label {
  color: #ffffff;
}

.choose {
  color: #ffffff;
}

/* 毛玻璃容器 */
.glass-container {
  width: 600px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  /* 半透明白色 */
  backdrop-filter: blur(15px);
  /* 毛玻璃模糊 */
  -webkit-backdrop-filter: blur(15px);
  /* Safari 相容 */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* 微亮邊框 */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: rgb(162, 201, 244);
  text-align: center;
}

.introduce {
  width: 600px;
  margin: 50px auto;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.Btn {
  margin-top: 15px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  background: transparent;
  border: 2.4px solid #fff;
  border-radius: 50px;
  color: #ffffff;
  margin: 10px;
}

.Btn:hover {
  transition: 0.5s;
  color: #000;
  background: #fff;
}

fieldset {
  width: 400px;
}