.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

tr:nth-of-type(even) td {
  background-color: #1975ff;
}

.all {
  text-align: center;
}

.find {
  width: 25%;
}

.list {
  width: 75%;
}