<div class="all">
  <div class="background-image"></div>

  <div class="left-side">
    <div class="find">
      <label for="name">名稱</label>
      <input type="text" placeholder="輸入名稱">
      <label for="start">開始時間</label>
      <input type="date">
      <label for="end">結束時間</label>
      <input type="date">
      <button>查詢</button>
    </div>

  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
  <div class="right-side">

    <div class="mat-elevation-z8 ">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Stage Column -->
        <ng-container matColumnDef="stage">
          <th mat-header-cell *matHeaderCellDef> Stage </th>
          <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="begintime">
          <th mat-header-cell *matHeaderCellDef> Begin </th>
          <td mat-cell *matCellDef="let element"> {{element.begintime}} </td>
        </ng-container>
        <ng-container matColumnDef="endtime">
          <th mat-header-cell *matHeaderCellDef> End </th>
          <td mat-cell *matCellDef="let element"> {{element.endtime}} </td>
        </ng-container>
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef> Result </th>
          <td mat-cell *matCellDef="let element"> {{element.result}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
